{{define "footer"}}
<!-- Main Footer -->
<div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2020 <a href="#">vcooa.com</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.1
        </div>
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../static/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../static/js/Chart.min.js"></script>
<script src="../static/js/demo.js"></script>
<script src="../static/js/dashboard3.js"></script>


</body>
</html>
{{end}}