{{define "mainsidebar"}}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="../static/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Vcooa管理平台</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
       <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link">
                        <p>
                            商户管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav-item nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link small">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    商户信息查询
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link">
                        <p>
                            订单管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav-item nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link small">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    交易订单查询
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link">
                        <p>
                            用户管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav-item nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link small">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    用户信息查询
                                </p>
                            </a>
                        </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link small">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>用户签约记录查询</p>
                                    </a>
                                </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link">
                        <p>
                            设置
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav-item nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link small">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    修改密码
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link small">
                                <i class="far fa-circle nav-icon"></i>
                                <p>退出</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- 主菜单继续增加在这里-->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{{end}}