{{template "header"}}
<title>商户管理--Vcooa业务系统管理平台</title>
<!-- jsGrid -->
<link rel="stylesheet" href="../static/css/jsgrid.min.css">
<link rel="stylesheet" href="../static/css/jsgrid-theme.min.css">
</head>
{{template "topnav"}}
{{template "mainsidebar"}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">商户信息查询</h3>
                        </div>
                        <div class="card-body">
                            Start creating your amazing application!
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Footer
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-body">
                            <div id="jsGrid2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- jsGrid -->
<script src="../static/js/db.js"></script>
<script src="../static/js/jsgrid.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        $("#jsGrid2").jsGrid({
            height: "100%",
            width: "100%",

            sorting: true,
            paging: true,

            data: db.clients,

            fields: [
                { name: "Married", type: "checkbox", title: "Is Married" },
                { name: "Name", type: "text", width: 150 },
                { name: "Age", type: "number", width: 50 },
                { name: "Address", type: "text", width: 200 },
                { name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name" }
            ]
        });
    });
</script>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
{{template "footer"}}


